.container {
    margin: 1rem 1rem !important;
    align-content: center !important;
    position: relative !important;
    color:teal !important;
  }

  .vl{
    border-right: 2px solid teal !important;
    opacity: 0.2 !important;
    height: 70vh !important;
    float:right !important;
  }
 
  .cardPic{
      float:right !important;
      max-width: 60% !important;
      margin: 1rem 1rem !important;
      align-content: center !important;
      position: relative !important;
      color:teal !important;
      font-size:13px !important;
      text-align:center !important;
  }
  .mainPic
  {
    margin: 0rem 0rem !important;
    max-width: 60% !important;
    position: relative !important;
  }

  img.roundedcircle {
    object-fit: cover !important;
    border-radius: 100% !important;
    height: 200px !important;
    width: 200px !important;
    object-position: 0% 0% !important;
    margin:0rem 0rem !important;
}

#image1{
    background-image: url(https://github.com/bangoga/bangoga.github.io/blob/master/avatar2.jpg?raw=true);
}

.badgeside{
    font-size:13px !important;
}

.cardtext {
  margin: 1rem 1rem !important;
  align-content: center !important;
  position: relative !important;
  color:teal !important;
  text-align: center;
  font-size: 13px;
}